@model IEnumerable<Week6_WebApp1.Models.View.PetViewModel>

@{
    ViewBag.Title = "Pets";
}

<h2 class="jumbotron">Pets</h2>

<p>
    @Html.ActionLink("Add Pet", "Create", new { userId = ViewBag.UserId }, new { @class = "btn btn-info", style = "text-decoration: none;" })
    @*    <a class="btn btn-info" href='@Url.Action("create", new { userId = ViewBag.UserId })'>Add Pet</a>*@
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextCheckup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="pet-name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextCheckup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VetName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-xs btn-success", style = "text-decoration: none;"}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn btn-xs btn-success", style = "text-decoration: none;"}) |

@*                @Html.ActionLink("Delete", "Delete",*@
@*                    // Route Values*@
@*                    new {id = item.Id},*@
@*                    // HTML Attributes*@
@*                    new {id = @item.Id, data_userid = @item.UserId, data_petname = @item.Name, @class = "btn btn-xs btn-success deleteBtn", style = "text-decoration: none;"})*@

                <span id = @item.Id data-userid ="@item.UserId" data-petname="@item.Name" class="btn btn-xs btn-success deleteBtn">Delete</span>
            </td>
        </tr>
    }
</table>

<div id="modal-confirm-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <h4 id="modal-msg" class="modal-title">Are you sure you want to remove pet?</h4>
                <h3 id="pet-name"></h3>
            </div>
            <div class="modal-footer">
                <button id="modal-btn-yes" type="button" class="btn btn-default">Yes</button>
                <button id="modal-btn-no" type="button" class="btn btn-primary">No</button>
            </div>
            </div>
    </div>
</div>

@section Scripts
{
<script>
        $(document).ready(function () {
            //initializeConfirm();
            initializeModal();
        });

        function initializeConfirm() {

            $(".deleteBtn").on('click', function (e) {
                var data = getData(e);
                if (confirm("Are you sure your want to remove pet: " + data.petName + "?")) {
                    return true;
                } else {
                    return false;
                }
            });

        }

        function initializeModal() {

            var confirmDelete = function (callback) {
                var data;

                $(".deleteBtn").on("click", function (e) {
                    data = getData(e);
                    $("#modal-confirm-delete #pet-name").text(data.petName);
                    $("#modal-confirm-delete").modal('show');
                });

                $("#modal-btn-yes").on("click", function () {
                    callback(data.userId, data.petId);
                    $("#modal-confirm-delete").modal('hide');
                });

                $("#modal-btn-no").on("click", function () {
                    $("#modal-confirm-delete").modal('hide');
                });
            };

            confirmDelete(function (userId, petId) {
                if (petId > 0) {
                    var url = '@Url.Action("Delete")/' + petId;
                    console.log(url);

                    $.ajax({
                        method: "POST",
                        url: url
                    }).success(function () {
                        url = '@Url.Action("List")?userId=' + userId;
                        console.log(url);
                        window.location.href = url;
                    });
                }
            });

        }

        function getData(e) {
            var data = {
                petId: e.target.id,
                userId: e.target.dataset.userid,
                petName: e.target.dataset.petname
            }
            console.log("selected userId/petId/petName: " + data.userId + "/" + data.petId + "/" + data.petName);

            return data;
        }
</script>
}
